= display_flash_message :error, f.error_notification
= f.input :name, :required => true, :hint => 'e.g. "Runolfsson LLC"', :autofocus => true
= f.input :description, :hint => 'Some good worls about the team'
.form-actions
  .pull-right
    %button.btn.btn-success.btn-cons{:type => "submit"}
      %i.icon-ok
      Save
    = link_to "Cancel", company_path, :class => "btn btn-white btn-cons"
