.tiles.blue.added-margin
  .tiles-body
    .controller
      %a.reload{href: "javascript:;"}
      %a.remove{href: "javascript:;"}
    .tiles-title
      NUMBER OF USERS
    .heading
      %span.animate-number{data: {value: "#{account_company.users.count}", animation_duration: "1200"}}
        0

    .description
      - if (users_in_this_month = account_company.users.where("created_at > ?", Date.today.at_beginning_of_month).count) > 0
        %i.icon-custom-up
        %span.text-white.mini-description
          = "&nbsp; + #{users_in_this_month}".html_safe
          %span.blend
            in this month
      - else
        No new users in this month