.col-md-12
  .grid.simple
    .grid-title.no-border
      %h4
        %span.semi-bold Added Sources
      .tools
        %a.collapse{:href => "javascript:;"}
    .grid-body.no-border{:style => "display: block;"}
      .row
        =render partial: "sources/sources_list", :object => company_sources
      .row
        .col-md-8
        .col-md-2
          %a.btn.btn-primary.btn-cons{href: new_source_path}
            Add another source
