%table.table.table-hover.table-striped.table-bordered.no-more-tables.action-list#sources-list
  %thead
    %tr
      %th #
      %th Name
      %th Type
      %th Address
      %th Updated At
  %tbody
    = render partial: "sources/sources_list_row", collection: sources_list
