%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a{:href => sources_path} Data sources
  %i.icon-angle-right
  %li
    %a.active{:href => sources_path} New

.row
  .col-md-11
    .page-title
      %i.icon-custom-ui
      %h3 Create new data sources
  .col-md-1.text-right
.row
  %ul#navigation-tab.nav.nav-tabs
    %li.active
      %a{:href => "#jira-tab"} JIRA Data source
    %li
      %a{:href => "#active-collab-tab"} ActiveCollab Source
    %li
      %a{:href => "#redmine-tab"} Redmine Source
  .tab-content
    #jira-tab.tab-pane.active
      =render partial: "jira_sources/new_source_form", :object => new_jira_source
      
    #active-collab-tab.tab-pane
      .row
        .col-md-12
          %h3
            “ Nothing is
            %span.semi-bold> impossible
            , the word itself says 'I'm
            = succeed "'!" do
              %span.semi-bold possible
            ”
          %p A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...
          %br/
          %p.pull-right
            %button.btn.btn-white.btn-cons{:type => "button"} White
            %button.btn.btn-success.btn-cons{:type => "button"} Success
    #redmine-tab.tab-pane
      .row
        .col-md-12
          %h3 Follow us &amp; get updated!
          %p Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.
          %br/
          %p
            %a.btn-social{:href => "#"}
              %i.icon-facebook
            %a.btn-social{:href => "#"}
              %i.icon-twitter
            %a.btn-social{:href => "#"}
              %i.icon-dribbble
            %a.btn-social{:href => "#"}
              %i.icon-pinterest-sign
            %a.btn-social{:href => "#"}
              %i.icon-tumblr
            %a.btn-social{:href => "#"}
              %i.icon-linkedin-sign

=content_for :javascript do
  =javascript_include_tag "js/tabs_accordian"
