%tr.data-row
  %td= users_list_row.name
  %td= users_list_row.rating.to_f
  %td
    - if current_account.user != users_list_row and current_account.user.can_rate? users_list_row
      = link_to "Rate", user_report_ratings_path(users_list_row), :class => "btn btn-primary btn-sm btn-small"