%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %span.active Paypal Configuration

= simple_form_for(@config, as: :paypal_configuration, html: {method: :post}) do |f|
  = render partial: "paypal_configurations/form", locals: {f: f}

%div
  %p
    %span * You can find out your credentials using
    %a{href: "https://developer.paypal.com/docs/classic/api/apiCredentials/", target: '_blank', rel: 'nofollow'} this tutorial.
  %p
    %span * Also if you want to know additional information about your payment, after you sent it, such as view payment fee or view status of payment for each recepient, please add our Instant Payment Notification Listener url
    %i{style: "border: 1px solid grey; background-color: #FFF; padding: 2px;"}= "#{home_uri}/payment_requests/paypal_notify"
    %span to your paypal account configuration. You can find how to do this using
    %a{href: "https://developer.paypal.com/docs/classic/ipn/integration-guide/IPNSetup/", target: '_blank', rel: 'nofollow'} this tutorial.
  %p * We recommend you to use a separate paypal account with this service beckouse you propably already set IPN Listener for another service or you don't want that we receive information about all transactions you made. We'll not gather information not connected with payments you made using our service in any case.
  %p You can use this service without setup Instant Payment Notification Listener, and you always can find all the information about payments you've made on Paypal site.