%table.table.table-hover.table-striped.table-bordered.no-more-tables.action-list#users-report-payments-list
  %thead
    %tr
      %th{:width => "2%"}
        .checkbox
          %input.checkall#checkall{type: 'checkbox', value: 1  }
          %label{for: 'checkall'}
      %th{:width => "49%"} User Name
      %th{:width => "49%"} Total amount
  %tbody
    - if @users and @users.count > 0
      = render partial: "reports_payments/users_list_row", collection: @users
    - else 
      %tr.text-center
        %td{:colspan => "3"}
          No data to display