.grid.simple
  .grid-title.no-border
    %h4
      %span.semi-bold Create new JIRA source
    .tools
  .grid-body.no-border
    = simple_form_for(new_source_form, :as => :jira_source, :html => { :method => :post }) do |f|
      = render partial: "jira_sources/source_form", :locals => { f: f }
