%tr.data-row
  %td= @routes.select{|r| r[:controller] == list_row.controller and r[:action] == list_row.action}.first[:path]
  %td= list_row.link
  %td= list_row.video_link
  %td
    .col-md-6
      = list_row.video_title
    .col-md-6
      .list-column.list-row-action
        .list-row-action-wrapper
          =link_to edit_help_link_path(list_row), :rel => :tooltip, :title => "edit link", :class => 'list-row-action-wrapper-link edit-help-link-action' do
            %i.icon-edit
          =link_to "", :rel => :tooltip, :title => "delete link", :class => 'list-row-action-wrapper-link list-row-action-delete-one' do
            %i.icon-trash
          .popover.list-row-action-popover-delete-one.left
            .arrow
            %h3.popover-title
              Delete this help link?
            .popover-content
              =form_tag help_link_path(list_row), :method => :delete do
                =submit_tag 'Delete', :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                .btn.btn-small.cancel Cancel