%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => help_links_path} Help links
  %i.icon-angle-right
  %li
    %a.active{:href => edit_help_link_path(@help_link)} Edit  
.row
  .col-md-12    
    .page-title
      %i.icon-custom-ui
      %h3 
        Help link 
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          %span.semi-bold Edit help link
        .tools
      .grid-body.no-border
        = simple_form_for(@help_link, :as => :help_link, :html => { :method => :put }) do |f|
          = render partial: "help_links/form", :locals => { f: f }