%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a.active{:href => help_links_path} Help links

.row
  .col-md-11
    .page-title
      %i.icon-custom-ui
      %h3 Setting help links on pages
  .col-md-1.text-right

.row
  = render partial: "help_links/list", :object => @help_links