%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a{:href => sources_path} Sources
  %i.icon-angle-right
  %li
    %a.active{:href => edit_trello_source_path(@trello_source)} Edit
.row
  .col-md-12
    .page-title
      %i.icon-custom-ui
      %h3= @trello_source.name
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          %span.semi-bold View trello source details
        .tools
          %a.reload{:href => "javascript:;"}
          %a.collapse{:href => "javascript:;"}
      .grid-body.no-border{style: "display:block"}
        = simple_form_for(@trello_source, :as => :trello_source, :html => { :method => :put }) do |f|
          = render partial: "trello_sources/source_form", :locals => { f: f }
