%tr.data-row
  %td
    .checkbox
      %input.check{:id => "mvp-users-#{users_list_row[:user].id}", type: 'checkbox', value: users_list_row[:user].id, name: 'users[]', checked: (params[:users] and params[:users].include? users_list_row[:user].id.to_s)}
      %label{:for => "mvp-users-#{users_list_row[:user].id}"}
  %td=link_to users_list_row[:user].name, user_report_mvp_index_path( users_list_row[:user] )
  %td= users_list_row_counter + 1