.col-md-12
  .grid.simple
    .grid-title.no-border
      %h4
        %span.semi-bold Users
      .tools
        %a.collapse{:href => "javascript:;"}
    .grid-body.no-border{:style => "display: block;"}
      .row
        = render partial: "users/short_list", object: company_users
      .row
        .col-md-8
        .col-md-2.col-lg-1
          %a.btn.btn-primary.btn-cons{href: new_user_path}
            Add user
        .col-md-2.col-lg-1
          %a.btn.btn-primary.btn-cons{href: new_user_invitation_path}
            Invite user

