.grid.simple
  .grid-body.no-border{:style => "display: block;"}
    .row
      = render partial: "users/short_list", object: team_users, locals: {team: team}
    .row.pull-right
      %a.btn.btn-primary.btn-cons{href: new_team_users_path(team)}
        Add employee
    .row

