%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path}< Company
  %i.icon-angle-right
  %li
    %a.active{:href => edit_company_path} New
.row
  .col-md-12
    .page-title
      %i.icon-custom-ui
      %h3 Add user
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          %span.semi-bold New user
        .tools
      .grid-body.no-border
        = simple_form_for(@user, :as => :user, :html => { :method => :post }) do |f|
          = render partial: "users/form", :locals => { f: f }
