%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a{:href => reports_path(:type => "payments")} Performance Analyzes
  %i.icon-angle-right
  %li
    %a.active{:href => user_report_hours_path(@user)} User

.row
  .col-md-11
    .page-title
      %i.icon-custom-ui
      %h3= @user.name
  .col-md-1.text-right

- if @chart
  .row
    = high_chart("main_chart", @chart)
    
.row
  .action-list.grid.simple
    .grid-title.no-border
      %h4
        %span.semi-bold
        = @user.name
      .tools
        %a.collapse{:href => "javascript:;"}
    .grid-body.no-border
      .row
        %table.table.table-hover.table-striped.table-bordered.no-more-tables.action-list#teams-short-list
          %thead
            %tr
              %th{:width => "50%"} Created by
              %th{:width => "50%"} Amount
          %tbody
            = render partial: "report_payments/user_payments_list_row", collection: @payments