%tr.data-row
  %td= short_list_row.id
  %td= short_list_row.name
  %td= short_list_row.account.email
  %td
    .col-md-10
      %span.label{ :class => short_list_row.account.confirmed? ? "label-success" : "label-important"}
        = short_list_row.account.confirmed? ? "work" : "not confirmed"
    .col-md-2
      .list-column.list-row-action
        .list-row-action-wrapper
          =link_to customer_path(short_list_row), :rel => :tooltip, :title => "view customer profile", :class => 'list-row-action-wrapper-link view-profile-action' do
            %i.icon-male
