.col-md-12
  .grid.simple
    .grid-title.no-border
      %h4
        %span.semi-bold Customers
      .tools
        %a.collapse{:href => "javascript:;"}
        %a.config{"data-toggle" => "modal", :href => "#grid-config"}
        %a.reload{:href => "javascript:;"}
        %a.remove{:href => "javascript:;"}
    .grid-body.no-border{:style => "display: block;"}
      %table.table.table-hover.table-striped.table-bordered.no-more-tables#customers_short_list
        %thead
          %tr
            %th #
            %th Name
            %th Email
            %th Status
        %tbody
          = render partial: "customers/short_list_row", collection: short_list
