%tr.data-row
  %td= link_to team_worklogs_list_row.name, user_report_hours_path( team_worklogs_list_row )
  %td= nice_time_difference @team_users_worklogs[team_worklogs_list_row.id].map(&:time).reduce(:+)