%table.table.table-hover.table-striped.table-bordered.no-more-tables.action-list#teams-report-hours-list
  %thead
    %tr
      %th{:width => "2%"}
        &nbsp;
      %th{:width => "2%"}
        .checkbox
          %input.checkall#checkall-hours-teams{type: 'checkbox', value: 1  }
          %label{for: 'checkall-hours-teams'}
      %th{:width => "48%"} Team Name
      %th{:width => "48%"} Total time
  %tbody
    - if @hours_report.teams and @hours_report.teams.count > 0
      = render partial: "report_hours/teams_list_row", collection: @hours_report.teams, locals: {params: params}
    - else
      %tr.text-center
        %td{:colspan => "4"}
          No data to display