%tr.data-row
  %td= link_to user_worklogs_list_row.team.name, team_report_hours_path( user_worklogs_list_row.team )
  %td= nice_time_difference user_worklogs_list_row.time
  %td= user_worklogs_list_row.created_at