%tr.data-row
  %td= link_to user_worklogs_list_row.name, team_report_hours_path( user_worklogs_list_row )
  %td= nice_time_difference @user_teams_worklogs[user_worklogs_list_row.id].map(&:time).reduce(:+)