%tr.data-row
  %td
    .checkbox
      %input.check{:id => "check-user-#{users_list_row.id}", type: 'checkbox', value: users_list_row.id, name: 'users[]', checked: (params[:users] and params[:users].include? users_list_row.id.to_s)}
      %label{:for => "check-user-#{users_list_row.id}"}
  %td=link_to users_list_row.name, user_report_hours_path( users_list_row )
  %td= nice_time_difference @hours_report.users_worklogs[users_list_row.id].map(&:time).reduce(:+)