%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a{:href => reports_path(:type => "hours")} Performance Analyzes
  %i.icon-angle-right
  %li
    %a.active{:href => team_report_hours_path(@team)} Team

.row
  .col-md-11
    .page-title
      %i.icon-custom-ui
      %h3= @team.name
  .col-md-1.text-right

- if @chart
  .row
    = high_chart("main_chart", @chart)
    
.row
  %table.table.table-hover.table-striped.table-bordered.no-more-tables.action-list#teams-short-list
    %thead
      %tr
        %th{:width => "40%"} User name
        %th{:width => "30%"} Time
    %tbody
      = render partial: "report_hours/team_worklogs_list_row", collection: @team_users

=content_for :javascript do
  =javascript_include_tag "highcharts/ext"