%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a{:href => reports_path(:type => "hours")} Performance Analyzes
  %i.icon-angle-right
  %li
    %a.active{:href => user_report_hours_path(@user)} User

.row
  .col-md-12
    .page-title
      %i.icon-custom-ui
      %h3= @user.name

- if @chart
  .row
    = high_chart("main_chart", @chart)
    
.row
  %table.table.table-hover.table-striped.table-bordered.no-more-tables.action-list#teams-short-list
    %thead
      %tr
        %th{:width => "50%"} Team Name
        %th{:width => "50%"} Tracked time
    %tbody
      = render partial: "report_hours/user_worklogs_list_row", collection: @user_teams

=content_for :javascript do
  =javascript_include_tag "highcharts/ext"