$('#new_form').html('#{j render :partial => "form", :object => @docu_template}');

- if remotipart_submitted? and session[:docusign] and session[:docusign][:status] == "created"
  var iframe = document.createElement('iframe');
  iframe.src = "#{ @recipient_view["url"] }";
  iframe.width = $("#docusign_iframe").width();
  iframe.height = $("#docusign_iframe").height();
  $("#docusign_iframe").show().append(iframe);

- if session[:docusign] and session[:docusign][:status] == "completed"
  $('#doc_sign').hide()
  $('#doc_signed').show()
- else
  $('#doc_sign').show()
  $('#doc_signed').hide()

- if @success
  // $("#flash_message").append("#{j display_flash_message :notice, 'Document was sent successfully'}");
  window.location.href = '#{j url_for( action: 'index', anchor: 'template') }';

