.grid.simple.horizontal
  %h2.grid-title Transfers
  .grid-body
    %table.table.table-bordered.no-more-tables
      %tr
        %th Recipient
        %th Status
        %th ID
      - JSON.parse(payment.additional_info).each do |info|
        %tr
          %td= payment.recipients.find(info['recipient_id']).user.name
          %td
            -if info['success']
              %b{class: "label label-success"}= info['transfer']['status']
            -else
              %b{class: "label label-important"} failed
              %span.badge{'data-toggle' => 'tooltip', 'data-placement' => 'right', 'title' => info['message'] } ?
          %td
            -if info['transfer']
              = "ID: #{info['transfer']['id']}"