.grid-body.no-border
  - if list_prepared.present?
    %table.table.table-hover.table-bordered.no-more-tables.action-list#teams-short-list
      %thead
        %tr
          %th #
          %th Description
          %th Total Amount
          %th Created
          %th Creator
          %th Actions
          %th Process
      %tbody
        =render partial: "payments/row_prepared", collection: list_prepared
  - else
    %p There are no payments yet    

