.grid-body.no-border
  - if list_prepared.present?
    %table.table.table-hover.table-striped.table-bordered.no-more-tables.action-list#teams-short-list
      %thead
        %tr
          %th #
          %th Description
          %th Total Amount
          %th Created
          %th Creator
          %th Actions
      %tbody
        =render partial: "payments/row_prepared", collection: list_prepared
  - else
    %p There are no payments yet    
  .row
    .col-md-10
    .col-md-2
      =link_to new_payment_path do
        %button.btn.btn-primary.btn-cons Add Payment
