%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a.active{:href => payments_path} Payments

.row
  .col-md-11
    .page-title
      %i.icon-money
      %h3 Payments
  .col-md-1.text-right
.row
  %ul#navigation-tab.nav.nav-tabs
    %li.payments-tab#new
      %a{href: "#payments-new"}
        %i.icon-plus
        New
    %li.payments-tab#prepared.active
      %a{href: "#payments-prepared"} Prepared Payments
    %li.payments-tab#sent
      %a{href: "#payments-sent"} Sent Payments
    %li.payments-tab#marked
      %a{href: "#payments-marked"} Marked Payments
    %li.payments-tab#deleted
      %a{href: "#payments-deleted"} Deleted Payments
    %li.dropdown.pull-right
      %a.dropdown-toggle{"data-toggle" => "dropdown", class: "payment-config"}
        %i.icon-gear
        %span Configuration
        %i.icon-caret-down
      %ul.dropdown-menu
        %li
          =link_to "Dwolla Configuration", '#', {class: "payment-config"}
          =link_to "Paypal Configuration", new_paypal_configuration_path, {class: "payment-config"}

  .tab-content
    #payments-new.tab-pane
      = simple_form_for(@payment, as: :payment, html: { method: :post, class: 'payment' }) do |f|
        = render partial: "payments/form", locals: { f: f}
    #payments-prepared.tab-pane.active
      =render partial: "payments/list_prepared", :object => @payments_prepared
    #payments-sent.tab-pane
      =render partial: "payments/list_sent", :object => @payments_sent
    #payments-marked.tab-pane
      =render partial: "payments/list_marked", :object => @payments_marked
    #payments-deleted.tab-pane
      =render partial: "payments/list_deleted", :object => @payments_deleted

=content_for :javascript do
  =javascript_include_tag "js/tabs_accordian"

=content_for :javascript do
  =javascript_include_tag "payments"

= content_for :page_specific_css do 
  = stylesheet_link_tag "payments"
