%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a{:href => payments_path} Payments
  %i.icon-angle-right
  %li
    %span.active New

.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h3
          %i.icon-money
          %span.semi-bold New Payment
      .grid-body.no-border
        = simple_form_for(@payment, as: :payment, html: { method: :post, class: 'payment' }) do |f|
          = render partial: "payments/form", locals: { f: f}

=content_for :javascript do
  =javascript_include_tag "payments"

= content_for :page_specific_css do
  = stylesheet_link_tag "payments"
