- if @owner == @recipient
  - owner = link_to 'You', @owner_url
- else
  - owner = link_to @owner.name, @owner_url

- if @object.type == 'JiraSource'
  - source = jira_source_url @object
- else
  - source = sources_url

- message = t "mailer.#{action_name}.message", 
            owner: owner, 
            source: source

= message.html_safe
