- if @owner == @recipient
  - owner = link_to 'You', @owner_url
- else
  - owner = link_to @owner.name, @owner_url
  
- message = t "mailer.#{action_name}.message",
            owner: owner,
            post: link_to(@object.post.subject, post_url(@object.post)),
            team: link_to(@object.receiver.name, team_url(@object.receiver))

= message.html_safe
