- if @recipient == @owner
  - owner = link_to 'You', @owner_url
- else
  - owner = link_to @owner.name, @owner_url

- for_a_user = ''
- if @owner != @object.user
  - for_a_user = "for a #{link_to @object.user.name, user_url(@object.user)}"

- message = t "mailer.#{action_name}.message",
            owner: owner,
            for_a_user: for_a_user,
            team: link_to(@object.team.name, team_url(@object.team))

= message.html_safe