- if @recipient == @owner
  - owner = link_to 'You', @owner_url
  - if @recipient == @object.user
    - user = link_to 'yourself', user_url(@object.user)
  - else
    - user = link_to @object.user.name, user_url(@object.user)
- elsif @recipient == @object.user
  - owner = link_to @owner.name, @owner_url
  - user = link_to 'you', user_url(@object.user)
- else
  - owner = link_to @owner.name, @owner_url
  - user = link_to @object.user.name, user_url(@object.user)

- message = t "mailer.#{action_name}.message",
            owner: owner,
            user: user,
            team: link_to(@object.team.name, team_url(@object.team))

= message.html_safe
