- if @owner == @recipient
  - owner = link_to 'You', @owner_url
- else
  - owner = link_to @owner.name, @owner_url

- message = t "mailer.#{action_name}.message",
            owner: owner,
            user: link_to(@object.name, user_url(@object))

= message.html_safe
