.notification-messages.info
  .user-profile
    %img{width: 35, height: 35, src: activity.owner.avatar.url}
  .message-wrapper
    .heading
      =link_to activity.owner.name, activity.owner
      \- Created payment 
    .description
      = link_to "Payment", activity.trackable
      = "was created for #{activity.trackable.amount}$"

  .date.pull-right
    = time_ago_in_words activity.created_at
    ago