/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require plugins/pace/pace-theme-flash.css
 *= require plugins/jquery-slider/css/jquery.sidr.light.css
 *= require plugins/boostrapv3/css/bootstrap.min.css
 *= require plugins/boostrapv3/css/bootstrap-theme.min.css
 *= require plugins/font-awesome/css/font-awesome.css
 *= require css/animate.min.css
 *= require css/style.css
 *= require css/responsive.css
 *= require css/custom-icon-set.css
 */
