.dashboard-head {
  margin-bottom: 30px;
}

.dashboard-body {
  padding: 0px 30px;

  #recent_activity {
    margin-right: 5px;
  }
  .dashboard-widgets {
    margin-left: 5px;
    .row {
      margin-bottom: 10px;
    }
  }
}