.dashboard-head {
  margin-bottom: 30px;
  .tiles-title a {
    color: white;
  }
}

.dashboard-body {
  padding: 0px 30px;

  .dashboard-widgets {
    .row {
      margin-bottom: 10px;
    }
    .fiter-block {
      .widget-body {
        height: 100%;
        min-height: 100%;
      }
    }
    .post {
      margin-bottom: 5px;
    }
  }
}