- if @owner == @recipient
  - owner = link_to 'You', @owner_url
- else
  - owner = link_to @owner.name, @owner_url
  
%tr
  %td.main{colspan: 2}= t ".message_html",
                        owner: owner,
                        post: link_to(@object.post.subject, post_url(@object.post)),
                        team: link_to(@object.receiver.name, team_url(@object.receiver))

= render partial: 'notifications_mailer/unsubscribe', locals: {team: @object.receiver}
