- if @recipient == @owner
  - owner = link_to 'You', @owner_url
- else
  - owner = link_to @owner.name, @owner_url

- for_user = ''
- if @owner != @object.user
  - for_user = "for #{link_to @object.user.name, user_url(@object.user)}"

%tr
  %td.main{colspan: 2}= t ".message_html",
                        owner: owner,
                        for_user: for_user,
                        team: link_to(@object.team.name, team_url(@object.team))

= render partial: 'notifications_mailer/unsubscribe', locals: {team: @object.team}