.table > tbody > tr > td {
	vertical-align: middle;
}
.page-content .btn i {
	color: #FFF;
}
.payment .form-group {
	margin-bottom: 0px;
}
div.alert {
	margin-top: 20px;

	.error_notification {
		margin: 0;
	}
}
