/ BEGIN SIDEBAR
#main-menu.page-sidebar{class: (['mail', 'compose'].include?(request[:action]) ? "mini" : ""), "data-inner-menu" => (['mail', 'compose'].include?(request[:action]) ? "1" : "")}
  / BEGIN MINI-PROFILE
  .user-info-wrapper
    .profile-wrapper
      %img{"data-src" => current_account.user.avatar.thumb.url, "data-src-retina" => current_account.user.avatar.thumb.url, :height => "69", :src => current_account.user.avatar.thumb.url, :width => "69"}/
    .user-info
      .greeting Welcome
      .username
        %span.semi-bold= current_account.user.name
  %p.menu-title
  %ul
    %li.start{class: request[:controller] == 'companies' ? "active" : ""}
      %a{:href => company_path}
        %i.icon-custom-home
        %span.title Company
        %span.selected
        %span.badge.badge-important.pull-right 5
    %li{class: ['users'].include?(request[:controller]) ? "active" : ""}
      %a{:href => users_path}
        %i.icon-envelope
        %span.title Employees
    %li{class: ['teams'].include?(request[:controller]) ? "active" : ""}
      %a{:href => teams_path}
        %i.icon-custom-ui
        %span.title Teams
    %li{class: ['sources', "jira_sources"].include?(request[:controller]) ? "active" : ""}
      %a{:href => sources_path}
        %i.icon-custom-ui
        %span.title Data sources
    %li
      %a{:href => legal_path}
        %i.icon-custom-extra
        %span.title  Legal & Tax
    %li
      %a{:href => payments_path}
        %i.icon-custom-extra
        %span.title Pay your Employees
    %li
      %a{:href => reports_path}
        %i.icon-custom-extra
        %span.title Reports
  .clearfix
- if ['mail', 'compose'].include? request[:action]
  .inner-menu.nav-collapse
    .inner-wrapper
      %a.btn.btn-block.btn-primary{:href => compose_mail_path}
        %span.bold COMPOSE
    .inner-menu-content
      %p.menu-title
        FOLDER
        %span.pull-right
          %i.icon-refresh
    %ul.big-items
      %li.active
        %span.badge.badge-important 2
        %a{:href => account_mail_folder_path(:inbox)} Inbox
      %li
        %a{:href => account_mail_folder_path(:sent)} Sent
      %li
        %a{:href => account_mail_folder_path(:druft)} Draft
      %li
        %a{:href => account_mail_folder_path(:trash)} Trash

