/ BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
#portlet-config.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"}
    %h3 Widget Settings
  .modal-body Widget settings form goes here
.clearfix
